<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0" />

    <title th:text="#{site.title}">마플리(My Playlist)</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <script src="/js/bootstrap.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script defer th:src="@{/js/home.js}"></script>
    <script defer th:src="@{/js/playlist.js}"></script>
    <script defer th:src="@{/js/sidebar.js}"></script>
    <script defer th:inline="javascript">

    </script>

    <!-- content script -->
    <!--<th:block layout:fragment="css"></th:block>-->

    <!-- content script -->
    <!--<th:block layout:fragment="script"></th:block>-->
</head>

<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!-- sidebar fragment 사용 -->
    <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
    <!-- content fragment 사용 -->
    <th:block layout:fragment="content"></th:block>
    <!-- footer fragment 사용 -->
    <!--<th:block th:replace="fragments/footer :: footerFragment"></th:block>-->
</body>

</html>