<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="sidebarFragment">

    <div id="playlist-name" class="d-flex flex-column align-items-center my-3">
        <h2 class="text-white-50 text-truncate"><strong>현재 플레이리스트</strong></h2>
        <h3 class="text-white text-truncate" th:text="${playlist?.playlistName}"></h3>
    </div>

    <div id="player" class="w-100"></div>

    <div id="youtube-items" class="d-flex flex-column align-items-stretch flex-shrink-0">
        <div class="list-group scrollarea" th:each="music : ${musicList}">
            <a href="javascript:void(0);" th:id="music + ${music.musicOrder}" th:data-video-id="${music.videoId}" th:data-music-order="${music.musicOrder}"
               class="list-group-item list-group-item-action list-group-item-secondary py-3 lh-sm d-flex align-items-center" data-bs-toggle="list" role="tab">
                <img th:src="@{${music.musicImg}}">
                <div class="d-flex flex-column align-items-center justify-content-center ms-2">
                    <span class="col-12 my-1" th:text="${music.title}">제목</span>
                    <span class="col-12 my-1 small" th:text="${music.artist}">가수</span>
                </div>
            </a>
        </div>
    </div>
</aside>

</html>