.addMusicTitle {
  width: 306px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.editable {
  cursor: text;
}

.scrollarea {
  overflow-y: auto;
  background-color: #404040;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100%;
  width: 80%;
  padding-bottom: 3%;

  float: left;
  overflow-x: hidden;

  background-color: #bebebe;
}

aside {
  height: 100%;
  width: 20%;
  padding-bottom: 3%;

  float: right;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #404040;
}