.addMusicTitle {
  width: 306px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.editable {
  cursor: text;
}

.scrollarea {
  overflow-y: auto;
  background-color: #404040;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: -webkit-fill-available;
  height: 100vh;
  min-height: 100vh;
  width: 80%;

  float: left;
  overflow-x: hidden;

  background-color: #bebebe;
}

aside {
  height: -webkit-fill-available;
  height: 100vh;
  min-height: 100vh;
  width: 20%;

  float: right;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #404040;
}