<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript"></script>
</th:block>

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid p-3">
            <div class="row m-2" style="height: 100px">
                <div class="col-5 p-2 d-flex justify-content-start align-items-center">
                    <h1 class="text-center fw-bold">플레이리스트 목록</h1>
                </div>
                <div class="col-7 d-flex justify-content-end align-items-center">
                    <button type="button" class="btn me-4 text-center text-white" data-bs-toggle="modal" data-bs-target="#addModal" style="background-color: #5e5e5e;">추가</button>
                    <button type="button" class="btn me-4 text-center text-white" onclick="location.href='#'" style="background-color: #5e5e5e;">삭제</button>
                    <form class="w-25 me-4" role="search">
                        <input type="search" class="form-control" placeholder="플레이리스트 검색" aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-start align-content-start px-2 m-4">
                <div class="d-flex flex-wrap justify-content-center rounded-3 m-4 pt-4" style="width: 300px; height: 340px; background-color: #5e5e5e;">
                    <img class="w-100 h-75" th:src="@{https://i.ytimg.com/vi/SvQ9DR-BVuk/sddefault.jpg}">
                    <p class="text-center text-white fw-bold">여행</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center rounded-3 m-4 pt-4" style="width: 300px; height: 340px; background-color: #5e5e5e;">
                    <img class="w-100 h-75" th:src="@{https://i.ytimg.com/vi/SvQ9DR-BVuk/sddefault.jpg}">
                    <p class="text-center text-white fw-bold">여행</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center rounded-3 m-4 pt-4" style="width: 300px; height: 340px; background-color: #5e5e5e;">
                    <img class="w-100 h-75" th:src="@{https://i.ytimg.com/vi/SvQ9DR-BVuk/sddefault.jpg}">
                    <p class="text-center text-white fw-bold">여행</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center rounded-3 m-4 pt-4" style="width: 300px; height: 340px; background-color: #5e5e5e;">
                    <img class="w-100 h-75" th:src="@{https://i.ytimg.com/vi/nMWRL0aZ7SU/sddefault.jpg}">
                    <p class="text-center text-white fw-bold">여행</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center rounded-3 m-4 pt-4" style="width: 300px; height: 340px; background-color: #5e5e5e;">
                    <img class="w-100 h-75" th:src="@{https://i.ytimg.com/vi/nMWRL0aZ7SU/sddefault.jpg}">
                    <p class="text-center text-white fw-bold">여행</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center rounded-3 m-4 pt-4" style="width: 300px; height: 340px; background-color: #5e5e5e;">
                    <img class="w-100 h-75" th:src="@{https://i.ytimg.com/vi/nMWRL0aZ7SU/sddefault.jpg}">
                    <p class="text-center text-white fw-bold">여행</p>
                </div>
            </div>
            </div>
        </div>

        <!-- 추가 모달 -->
        <div class="modal fade" id="addModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">플레이리스트 추가</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>

</html>