<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript"></script>
</th:block>

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid p-3">
            <div class="row m-2" style="height: 100px">
                <div class="col-3 d-flex justify-content-center align-items-center p-2">
                    <h1 class="text-center fw-bold">플레이리스트 목록</h1>
                </div>
                <div class="col-9 d-flex justify-content-end align-items-center">
                    <button type="button" class="btn me-4 text-center text-white" onclick="createPlaylist()" style="background-color: #5e5e5e;">추가</button>
                    <form method="DELETE">
                        <button type="button" class="btn me-4 text-center text-white" onclick="location.href='#'" style="background-color: #5e5e5e;">삭제</button>
                    </form>
                    <form class="w-25 me-4" role="search">
                        <input type="search" class="form-control" placeholder="플레이리스트 검색" aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-start align-content-start px-2 m-4" >
                <div class="d-flex flex-wrap justify-content-center rounded-3 m-4 pt-4" th:each="playlist : ${playlistList}" th:onclick="|getPlaylistPage(${playlist.id})|"
                     style="width: 300px; height: 340px; background-color: #5e5e5e; cursor: pointer;">
                    <img class="w-100 h-75" th:src="@{${playlist.playlistImg}}">
                    <p class="text-center text-white fw-bold" th:text="${playlist.playlistName}">이름</p>
                </div>
            </div>
        </div>
    </main>
</th:block>

</html>