<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        /* 플레이리스트 페이지 - 노래 수정 버튼 */
        $('.btn-videoId-modal').click(function() {
            var data = $(this).data('video-id');
            $("#youtubeUrlInput").val(data);
        });


        /* 노래 추가 모달 */
        // 모달 창 종료시 검색 결과 삭제
        $('#musicAddModal').on('hidden.bs.modal', function(e) {
            $(this).find('#youtubeSearchQuery')[0].value = null;
            $(this).find('#youtubeSearchResult')[0].replaceChildren();
        });

        /* 노래 추가 모달 - 검색 버튼 */
        // 검색 결과 추가
        function addYoutubeSearchResults(title, artist, thumbnail, videoId) {
            /*
                div id="youtubeSearchResult"

                <div class="music d-flex align-items-center border-top border-bottom mb-1 py-1" style="cursor: pointer;"
                     data-bs-target="#musicAddSettingModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                    <div class="flex-shrink-0">
                        <img class="musicThumbnailImg" th:src="@{https://i.ytimg.com/vi/nMWRL0aZ7SU/default.jpg}" data-thumbnail="주소">
                    </div>
                    <div class="flex-grow-1 d-flex flex-column align-items-start justify-content-center ms-3">
                        <span class="addMusicTitle fw-bold fs-5 my-1" data-title="어쩔 수가 없나봐">어쩔 수가 없나봐</span>
                        <span class="addMusicArtist fs-6 my-1" data-artist="김나영">김나영</span>
                    </div>
                </div>
             */
            const music = document.createElement("div");
            music.classList.add("music", "d-flex", "align-items-center", "border-top", "border-bottom", "mb-1", "py-1")
            music.style.cursor = 'pointer';
            music.setAttribute("data-bs-target", "#musicAddSettingModal");
            music.setAttribute("data-bs-toggle", "modal");
            music.setAttribute("data-bs-dismiss", "modal");
            music.setAttribute("data-video-id", videoId);

            const musicThumbnail = document.createElement("div");
            musicThumbnail.classList.add("flex-shrink-0");
            const musicThumbnailImg = document.createElement("img");
            musicThumbnailImg.classList.add("addMusicThumbnail");
            musicThumbnailImg.src = thumbnail;
            musicThumbnailImg.setAttribute("data-thumbnail", thumbnail);
            musicThumbnail.appendChild(musicThumbnailImg);

            const musicInfo = document.createElement("div");
            musicInfo.classList.add("flex-grow-1", "d-flex", "flex-column", "align-items-start", "justify-content-center", "ms-3");
            const musicTitle = document.createElement("span");
            musicTitle.classList.add("addMusicTitle", "fw-bold", "fs-5", "my-1");
            musicTitle.textContent = title;
            musicTitle.setAttribute("data-title", title);
            const musicArtist = document.createElement("span");
            musicArtist.classList.add("addMusicArtist", "fs-6", "my-1");
            musicArtist.textContent = artist;
            musicArtist.setAttribute("data-artist", artist);
            musicInfo.appendChild(musicTitle);
            musicInfo.appendChild(musicArtist);

            music.appendChild(musicThumbnail);
            music.appendChild(musicInfo);

            document.getElementById("youtubeSearchResult").appendChild(music);
        }

        // 이전 검색 기록 삭제
        function removeYoutubeSearchResults() {
            document.getElementById("youtubeSearchResult").replaceChildren();
        }

        function getYoutubeSearchList() {
            $.ajax({
                type: "GET",
                url: "/playlist/search",
                data: { q : $("#youtubeSearchQuery").val() },
                dataType: "json"
            })
                .done(function (result) {
                    // 1. 기존에 있던 검색 기록 삭제
                    removeYoutubeSearchResults();

                    // 2. 새로운 검색 기록 추가
                    var musicList = result.body.data;
                    for (var i = 0; i < musicList.length; i++) {
                        var music = JSON.parse(JSON.stringify(musicList[i]));
                        addYoutubeSearchResults(music.title, music.channelTitle, music.thumbnail, music.videoId);
                    }
                })
                .fail(function (jqXHR) {
                    console.log(jqXHR);
                })
                .always(function() {

                })
        }

        /* 노래 추가 세부설정 모달 */
        // 모달 창 초기값 설정 (동적으로 생성된 페이지의 이벤트는 .on()을 사용해야 한다)

        $(document).on('click', '.music', function() {
            // form 전송용
            var videoId = $(this).data('video-id');
            var thumbnail = $(this).children().children(".addMusicThumbnail").data('thumbnail');

            // 설정 데이터들
            var title = $(this).children().children(".addMusicTitle").data('title');
            var artist = $(this).children().children(".addMusicArtist").data('artist');

            $("#musicTitle").val(title);
            $("#musicArtist").val(artist);
        })

        // 모달 창 종료시 검색 결과 삭제
        $('#musicAddSettingModal').on('hidden.bs.modal', function(e) {
            $(this).find('form')[0].reset();
        });

    </script>
</th:block>

<th:block layout:fragment="content">
    <main>
        <!-- 유튜브로 내보내기 모달 -->
        <div class="modal fade" id="playlistSaveModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">유튜브로 내보내기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-wrap justify-content-center align-items-center">
                        <p class="fw-bold fs-5">Youtube 계정에 플레이리스트를 추가하시겠습니까?</p>
                        <p>(플레이리스트 이름은 현재 플레이리스트 이름과 동일하게 설정됩니다)</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center justify-content-evenly">
                        <button type="button" class="btn btn-primary w-25" onclick="location.href='#'">확인</button>
                        <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 유튜브에서 불러오기 모달 -->
        <div class="modal fade" id="playlistAddModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">플레이리스트 선택</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="d-flex align-items-center border-top border-bottom mb-1 py-1" onclick="location.href='#'" style="cursor: pointer;">
                                <div class="flex-shrink-0">
                                    <img th:src="@{https://i.ytimg.com/vi/nMWRL0aZ7SU/default.jpg}">
                                </div>
                                <div class="flex-grow-1 ms-3 fw-bold fs-4">
                                    여행
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-top border-bottom mb-1 py-1" onclick="location.href='#';" style="cursor: pointer;">
                                <div class="flex-shrink-0">
                                    <img th:src="@{https://i.ytimg.com/vi/nMWRL0aZ7SU/default.jpg}">
                                </div>
                                <div class="flex-grow-1 ms-3 fw-bold fs-4">
                                    놀러가자
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-primary" onclick="location.href='#'">확인</button>-->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 노래 추가 모달 -->
        <div class="modal fade" id="musicAddModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">노래 추가</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="d-flex mb-1" style="height: 50px">
                                <input type="text" id="youtubeSearchQuery" class="form-control me-2 w-75"
                                       onkeyup="if(window.event.keyCode===13){getYoutubeSearchList()}" placeholder="검색어를 입력하세요">
                                <button type="button" class="btn text-center text-white w-25" onclick="getYoutubeSearchList()" style="background-color: #5e5e5e;">검색</button>
                            </div>

                            <hr>

                            <div id="youtubeSearchResult">
                                <!--
                                <div class="music d-flex align-items-center border-top border-bottom mb-1 py-1" style="cursor: pointer;"
                                     data-bs-target="#musicAddSettingModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                                    <div class="flex-shrink-0">
                                        <img class="musicThumbnailImg" th:src="@{https://i.ytimg.com/vi/nMWRL0aZ7SU/default.jpg}" data-thumbnail="주소">
                                    </div>
                                    <div class="flex-grow-1 d-flex flex-column align-items-start justify-content-center ms-3">
                                        <span class="addMusicTitle fw-bold fs-5 my-1" data-title="어쩔 수가 없나봐">어쩔 수가 없나봐</span>
                                        <span class="addMusicArtist fs-6 my-1" data-artist="김나영">김나영</span>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-primary" onclick="location.href='#'">확인</button>-->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 노래 추가 세부설정 모달 -->
        <div class="modal fade" id="musicAddSettingModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">노래 추가</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/playlist/search" method="post">
                        <div class="modal-body d-flex flex-wrap justify-content-center align-items-center">
                            <div class="mb-2">
                                <span class="fw-bold">*은 필수 입력 항목입니다.</span>
                            </div>
                            <div class="w-100">
                                <div class="row form-group mb-1">
                                    <label for="musicTitle" class="col-2 col-form-label">제목*</label>
                                    <div class="col-10">
                                        <input type="text" id="musicTitle" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group mb-1">
                                    <label for="musicArtist" class="col-2 col-form-label">가수*</label>
                                    <div class="col-10">
                                        <input type="text" id="musicArtist" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group mb-1">
                                    <label for="musicAlbum" class="col-2 col-form-label">앨범명</label>
                                    <div class="col-10">
                                        <input type="text" id="musicAlbum" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center justify-content-evenly">
                            <!-- 바꾸려면 <form action="요청 보낼 url" method="post"> <button type="submit"></button> </form> 이렇게 폼으로 감싸야함-->
                            <button type="button" class="btn btn-primary w-100" onclick="location.href='#'">확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 유튜브 URL 변경 모달 -->
        <div class="modal fade" id="urlUpdateModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">유튜브 URL 변경</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-wrap justify-content-center align-items-center">
                        <div class="mb-2">
                            <img class="border" th:src="@{/img/urlUpdateAlert.png}">
                        </div>
                        <div class="d-flex flex-nowrap justify-content-center w-100">
                            <span class="fs-5">watch?v=</span>
                            <form class="flex-grow-0"><input type="url" class="form-control body-contents" id="youtubeUrlInput"></form>
                            <span class="fs-5">&ab_channel=</span>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center justify-content-evenly">
                        <button type="button" class="btn btn-primary w-25" onclick="location.href='#'">확인</button>
                        <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-3">
            <div class="row mx-2 mt-2" style="height: 100px">
                <div class="col-3 d-flex justify-content-center align-items-center p-2">
                    <h1 class="text-center fw-bold" contenteditable="true" th:data-default="${playlist.playlistName}" th:text="${playlist.playlistName}">여행</h1>
                </div>
                <div class="col-9 d-flex justify-content-end align-items-center">
                    <button type="button" class="btn me-4 text-center text-white" data-bs-toggle="modal" data-bs-target="#playlistSaveModal" style="background-color: #5e5e5e;">유튜브로 내보내기</button>
                    <button type="button" class="btn me-4 text-center text-white" data-bs-toggle="modal" data-bs-target="#playlistAddModal" style="background-color: #5e5e5e;">유튜브에서 불러오기</button>
                    <form class="w-25 me-4" role="search">
                        <input type="search" class="form-control" placeholder="노래 검색" aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center mx-4 mb-2">
                <button type="button" class="btn me-4 text-center text-white" data-bs-toggle="modal" data-bs-target="#musicAddModal" style="background-color: #5e5e5e;">노래 추가</button>
                <button type="button" class="btn me-4 text-center text-white" onclick="location.href='#'" style="background-color: #5e5e5e;">노래 삭제</button>
            </div>

            <div class="row d-flex justify-content-evenly align-items-start flex-nowrap my-4">
                <div class="col-3 d-flex flex-wrap justify-content-center">
                    <div class="row d-flex justify-content-center align-items-center rounded-3 mb-2" style="width: 300px; height: 300px; background-color: #5e5e5e;">
                        <img class="w-100 h-75" th:src="@{${playlist.playlistImg}}">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button type="button" class="btn text-center text-white" onclick="location.href='#'" style="background-color: #5e5e5e;">이미지 변경</button>
                    </div>
                </div>
                <div class="col-8 d-flex flex-wrap justify-content-end me-4">
                    <div class="row w-100">
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Album</th>
                                <th scope="col">Youtube</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="music : ${musicList}">
                                <th scope="row" th:text="${musicStat.count}">1</th>
                                <td><p class="rowColumn" contenteditable="true" th:data-default="${music.title}" th:text="${music.title}">제목</p></td>
                                <td><p class="rowColumn" contenteditable="true" th:data-default="${music.artist}" th:text="${music.artist}">가수</p></td>
                                <td><p class="rowColumn" contenteditable="false" th:data-default="${music.album}" th:text="${music.album}">앨범</p></td>
                                <td><button type="button" class="btn-videoId-modal btn btn-outline-dark text-center"
                                            data-bs-toggle="modal" data-bs-target="#urlUpdateModal" th:data-video-id="${music.videoId}">수정</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <button type="button" class="btn text-center text-white" onclick="location.href='#'" style="background-color: #5e5e5e;">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>

</html>